<div class="mw-1760">
  <div class="bg-theme-primary bg-opacity-10 rounded-5 p-5 m-3 mb-0">
    <div class="container">
      <h1 class="site-name text-center mb-4 text-theme-primary">Marqueefy</h1>
      <p class="h5 text-center">
        Marqueefy is a custom Marquee component used to create horizontal or vertical scrolling content.
      </p>
    </div>
  </div>
</div>
<div class="sticky-top bg-theme-background mt-0 mb-3 justify-content-center">
  <ul id="site-tab" class="nav nav-pills bg-theme-primary bg-opacity-10 rounded-5 nav-justified mx-3" role="tablist">
    <li class="nav-item" role="presentation">
      <button id="installation-tab" class="nav-link rounded-5 p-3 position-relative fw-bold d-flex justify-content-center align-items-center gap-2" data-bs-toggle="pill" data-bs-target="#installation-tab-content" type="button" role="tab" aria-controls="installation-tab-content" aria-selected="true">
        <i class="bi bi-arrow-down-circle-fill fs-5"></i> Installation<span class="ripple-surface"></span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button id="usage-tab" class="nav-link rounded-5 p-3 position-relative fw-bold d-flex justify-content-center align-items-center gap-2" data-bs-toggle="pill" data-bs-target="#usage-tab-content" type="button" role="tab" aria-controls="usage-tab-content" aria-selected="false">
        <i class="bi bi-joystick fs-5"></i> Usage<span class="ripple-surface"></span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button id="options-tab" class="nav-link rounded-5 p-3 position-relative fw-bold d-flex justify-content-center align-items-center gap-2" data-bs-toggle="pill" data-bs-target="#options-tab-content" type="button" role="tab" aria-controls="options-tab-content" aria-selected="false">
        <i class="bi bi-palette2 fs-5"></i> Options<span class="ripple-surface"></span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button id="specs-tab" class="nav-link rounded-5 p-3 position-relative fw-bold d-flex justify-content-center align-items-center gap-2" data-bs-toggle="pill" data-bs-target="#specs-tab-content" type="button" role="tab" aria-controls="specs-tab-content" aria-selected="false">
        <i class="bi bi-grid-fill fs-5"></i> Specs<span class="ripple-surface"></span>
      </button>
    </li>
  </ul>
</div>
